article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto max-w-content;
}

.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

header .current-menu-item {


    @apply  text-primary;
  }


footer .current-menu-item {


  // @apply  text-dark;
}



/*Waves*/

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 400px;
  }
  /* Animation */
  .parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
  }
  .parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
    .content {
      height: 30vh;
    }
  }
  
  /*Other*/
  
  .unique-color-dark {
    background-color: #175254 !important;
  }
  
  .bg-light {
    background-color: #4DBABD !important;
  }
  
  .navbar-brand {
    color: white;
  }
  
  .custom-color {
    background-color: #7289DA !important
  }

  /* PRELOADER */ 
  .preloader {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #fefefe;
     z-index: 100000;
     height: 100%;
     width: 100%;
     overflow: hidden !important;
  }
  .preloader .status {
     width: 100px;
     height: 100px;
     position: absolute;
     left: 50%;
     top: 50%;
     background-image: url(../assets/images/Preloader_9.gif);
     background-repeat: no-repeat;
     background-position: center;
     -webkit-background-size: cover;
     background-size: cover;
     margin: -50px 0 0 -50px;
  }

 
  ::-moz-selection { /* Code for Firefox */
    @apply text-white bg-secondary;

  }
  
  ::selection {
    @apply text-white bg-secondary;
  }